
<div class="container" onclick="onclick">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">

<h1>IP Management</h1>
<p class="text-muted font-weight-light">enter your details to begin</p>
    <form [formGroup]="form" (ngSubmit)="submitForm()" autocomplete="off">
        <!-- Email Input -->
        <div class="form-group">
            <input type="email" id="email" placeholder="Email" class="form-control" formControlName="email" name="email"
              [email]="true"
            />
        </div>
        <!-- Password Input -->
        <div class="form-group">
            <input type="password" id="password" placeholder="Password" class="form-control" formControlName="password" name="password" />
        </div>

        <!-- Login Button -->
        <input type="submit" class="btn btn-primary w-100" value="Login" name="">
    </form>
            </div>
        </div>               
    

        